<!DOCTYPE html>
<head>
  <title>Admin - Accounts</title>
</head>
<body>
  <h1>User Accounts</h1>
  
  <ul>
  <% valid_emails.each do |email| %>
    <li><%= email %></li>
  <% end %>
  </ul>
  
  <h3>Add Email:</h3>
  <form action="/admin/accounts" method="POST">
    <input type="text" name="email" />
    <input type="submit" />
  </form>
</body>
</html>