<!DOCTYPE html>
<html>
<head>
  <title>Admin Shizzy</title>
</head>
<body>
  <h1>You've reached the admin page...</h1>
  <p>hopefully you're supposed to be here</p>
  
  <p>Behold! Your links of power:</p>
  <ul>
    <li><a href="/admin/accounts">Accounts</a> - for users and priveleges and shit</li>
  </ul>
</body>
</html>